{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row text-center">
        {% for object in object_list %}
            <div class=" pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <img class="rounded-5 mb-4" width="200" height="200" src="{{ object.avatar|mymedia }}"
                     alt="Card image cap">
                <h1 class="display-4">{{ object.first_name|title }} {{ object.last_name|title }}</h1>
                <p class="lead">{{ object.slug }}</p>
            </div>
            <div class="col-center">

                <div class="card mb-4 box-shadow">

                    <div class="card-body">
                        <p class="lead">{{ object.content }}</p>
                        <p class="lead">{{ object.date_create }}</p>
                        <p class="lead">Количество просмотров: {{ object.view_count }}</p>
                        <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                            {% if object.publication %}
                                <a href="{% url 'catalog:toggle_blog' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-danger">Отрицательный отзыв</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}