{% extends 'catalog/base.html' %}

{% block content %}
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-2 font-weight-normal">
                        {% if object %}
                            Редактирование продукта
                        {% else %}
                            Добавление продукта
                        {% endif %}</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-lg btn-block btn-outline-dark">
                        {% if object %}
                            Сохранить продукт
                        {% else %}
                            Добавить продукт
                        {% endif %}
                        <
                    </button>
                    <a href="{% url 'catalog:product_list' %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Отмена</a>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-2 font-weight-normal">Версия продукта</h4>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}