{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row text-center">
        {% for object in object_list %}
            <div class=" pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">{{ object.name|title }}</h1>
            </div>
            <div class="col-center">
                <img class="img-thumbnail mb-4" src="{{ object.image|mymedia }}" alt="Card image cap">
                <div class="card mb-4 box-shadow">

                    <div class="card-body">
                        <p class="lead">{{ object.description }}</p>
                        <p class="lead">Цена за 1 кг:</p>
                        <h1 class="card-title pricing-card-title">{{ object.price }} рублей</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-info">Купить</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}